---
import Nav from "./components/Nav";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Digital Artist">
  <h1 class="font-thin">Hello There!</h1>
  <Nav />
  <a href="/about">Go To About Page</a>
</MainLayout>
