---
import Nav from "../pages/components/Nav";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta title={title} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <Nav />
      <slot />
    </main>
  </body>
</html>
